body {
   font-family: 'Courier New', monospace;
   background-color: #282c34;
   color: #eee;
   line-height: 1.6;

}


.blog {
   margin: auto;
   max-width: 800px;
   background-color: #282c34;

}


h1 {
   font-size: 50px;
   font-weight: 300;A
   color: #ff7f50;
   text-align: center;
}


.card {
   padding: 20px;
   margin-bottom: 30px;
   background-color: #343a40;
   text-align: center;

}

a {
 text-decoration: none;
 color: #ff7f50;

}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: auto;
    max-width: 500px;

}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;

}

button {
    background-color: #2196F3;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.post{
max-width: 800px;
margin: auto;
}

.post p,
.card p {
   white-space: normal;
   overflow-wrap: break-word;
   word-wrap: break-word;
}

.center {
color: black
}

.author {
    color: gray;
    text-align: right;
}

.button2{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid black;
    background-color: #303d4d;
    color: white;

}

.button2:hover{
    margin-top: 10px;
    display: inline-block;
    padding: 10px 20px;
    background-color: red;
    color: white;
    border: 2px solid grey;

}

.logoutt {
    position: absolute;
    left: 1400px;

}

.button {
    position: absolute;
    margin-top: 5px;
    background-color: #2196F3;
    color: white;
    padding: 8px 10px;
    border: 2px solid black;
}

.button:hover {
    position: absolute;
    margin-top: 10px;
    background-color: #0a6fc2;
    color: white;
    padding: 8px 10px;
    border: 2px solid black;
}

.button3 {
    position: absolute;
    margin-top: 5px;
    background-color: #2196F3;
    color: white;
    padding: 8px 10px;
    border: 2px solid black;
}